.navigation {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}
.navigation a {
  color: white;
  text-decoration: none;
}
.outerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
}
.h1 {
  text-align: center;
}
.tagLine {
  height: 1px;
  background-color: black;
  border: none;
}
.companyName {
  flex: 4;
  /* width: 60%; */
}
.change {
  flex: 2;
  /* width: 25%; */
}
.price {
  flex: 1;
  /* width: 15%; */
}